<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mitelcel.pack" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission
        android:name="com.acotel.mitelcel.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.acotel.mitelcel.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:name=".MiApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.App" >
        <activity
            android:name=".ui.MainActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.LoginOrRegister"
            android:label="@string/title_activity_login_or_register"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.App.NoActionBar" >
        </activity>
        <activity
            android:name=".ui.RecentActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/title_activity_recent_activity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.RechargeActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/title_activity_recharge"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.App.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.acotel.mitelcel" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.DialogActivity"
            android:label="@string/title_activity_dialog_no_connection"
            android:theme="@style/Theme.App.Dialog.Popup" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="TatsAppId"
            android:value="@string/tats_app_id" />
        <meta-data
            android:name="GcmSender"
            android:value="@string/gcm_sender" />
        <meta-data
            android:name="TatsEnvironment"
            android:value="@string/tats_env_production" />
        <meta-data
            android:name="TatsLogLevel"
            android:value="@string/tats_log_verbose" />

    </application>

</manifest>
